<main class='container' id='work'>
  <header id='header'>
    <span id='logo'>
      <a href='/'>
        <img class='logo-image' src='./img/misc/logo.png'>
      </a>
      <span class='logo-description'>Erick Sauri</span>
    </span>
    <button id='open-menu-btn'>Open Menu</button>
    <nav class='nav-global'>
      <ul>
        <li class='nav-item-list'>
          <button id='close-menu-btn'>Close Menu</button>
        </li>
        <li class='nav-item-list'>
          <a class='nav-item' href='/'>Work</a>
        </li>
        <li class='nav-item-list'>
          <a class='nav-item' href='/'>About</a>
        </li>
        <li class='nav-item-list'>
          <a class='nav-item' href='/'>Contact</a>
        </li>
        <li class='nav-item-list'>
          <a class='nav-item' href='/'>Resume</a>
        </li>
      </ul>
    </nav>
  </header>

  <article class='container-fullpage'>
    <ul class='project-slideshow'>
      {{#each project}}
      {{#if this.bool}}
      <li class='project-slide visible' id='{{this.name}}'>
      {{else}}
      <li class='project-slide' id='{{this.name}}'>
      {{/if}}
        <section class='project-slide-section'>
          {{!--<section class='slide-section-image'></section>--}}
          <h2 class='project-slide-section-title'>{{this.title}}</h2>
          <p class='project-slide-section-description'>{{this.description}}</p>
          <a class='btn' href='/'>See work</a>
        </section>
      </li>
      {{/each}}
    </ul>

    <ul class='project-slideshow-nav'>
      <li class='project-slideshow-nav-list'>
        <button class='project-slideshow-up-arrow'>          
          <svg width="16" height="11" viewBox="0 0 16 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns">
            <g id="Arrow" style="mix-blend-mode:normal;" figma:type="frame">
              <g id="Right" style="mix-blend-mode:normal;" figma:type="vector">
                <use xlink:href="#path0_fill" transform="matrix(0.801045 -0.598604 0.598604 0.801045 7.40577 0.534195)" fill="#F3F6FA" style="mix-blend-mode:normal;"/>
              </g>
              <g id="Left" style="mix-blend-mode:normal;" figma:type="vector">
                <use xlink:href="#path1_fill" transform="matrix(0.801033 0.598621 -0.598621 0.801033 7.87959 0.0735322)" fill="#F3F6FA" style="mix-blend-mode:normal;"/>
              </g>
            </g>
            <defs>
              <path id="path0_fill" d="M 0 0.4462C 0 0.199771 0.199771 0 0.4462 0L 0.4462 0C 0.69263 0 0.892401 0.199771 0.892401 0.4462L 0.892401 12.7167C 0.892401 12.9631 0.69263 13.1629 0.4462 13.1629L 0.4462 13.1629C 0.199771 13.1629 0 12.9631 0 12.7167L 0 0.4462Z"/>
              <path id="path1_fill" d="M 0 0.446206C 0 0.199773 0.199773 0 0.446206 0L 0.446206 0C 0.692639 0 0.892413 0.199773 0.892413 0.446206L 0.892413 12.7167C 0.892413 12.9631 0.692639 13.1629 0.446206 13.1629L 0.446206 13.1629C 0.199773 13.1629 0 12.9631 0 12.7167L 0 0.446206Z"/>
            </defs>
          </svg>
        </button>
      </li>
      {{#each project}}
        {{#if this.bool}}
          <li class='project-slideshow-nav-list current'>
        {{else}}
          <li class='project-slideshow-nav-list'>
        {{/if}}
          <button class='project-slideshow-btn'>          
            {{@index}}
          </button>
        </li>
      {{/each}}
      <li class='project-slideshow-nav-list'>
        <button class='project-slideshow-down-arrow'>          
          <svg width="16" height="11" viewBox="0 0 16 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns">
            <g id="Arrow" style="mix-blend-mode:normal;" figma:type="frame">
              <g id="Right" style="mix-blend-mode:normal;" figma:type="vector">
                <use xlink:href="#path0_fill" transform="matrix(0.801045 -0.598604 0.598604 0.801045 7.40577 0.534195)" fill="#F3F6FA" style="mix-blend-mode:normal;"/>
              </g>
              <g id="Left" style="mix-blend-mode:normal;" figma:type="vector">
                <use xlink:href="#path1_fill" transform="matrix(0.801033 0.598621 -0.598621 0.801033 7.87959 0.0735322)" fill="#F3F6FA" style="mix-blend-mode:normal;"/>
              </g>
            </g>
            <defs>
              <path id="path0_fill" d="M 0 0.4462C 0 0.199771 0.199771 0 0.4462 0L 0.4462 0C 0.69263 0 0.892401 0.199771 0.892401 0.4462L 0.892401 12.7167C 0.892401 12.9631 0.69263 13.1629 0.4462 13.1629L 0.4462 13.1629C 0.199771 13.1629 0 12.9631 0 12.7167L 0 0.4462Z"/>
              <path id="path1_fill" d="M 0 0.446206C 0 0.199773 0.199773 0 0.446206 0L 0.446206 0C 0.692639 0 0.892413 0.199773 0.892413 0.446206L 0.892413 12.7167C 0.892413 12.9631 0.692639 13.1629 0.446206 13.1629L 0.446206 13.1629C 0.199773 13.1629 0 12.9631 0 12.7167L 0 0.446206Z"/>
            </defs>
          </svg>
        </button>
      </li>
    </ul>
  </article>
</main>
