<main class='container-fullpage' id='{{viewId}}'>
  <ul class='project-carousel'>
    {{#each projects}}
      <li class='project-slide{{#if this.bool}} visible{{/if}}' id='{{this.name}}' aria-hidden='{{#if this.bool}}false{{else}}true{{/if}}'>
        <section class='project-slide-section'>
          <h2 class='project-slide-section-title'>{{this.title}}</h2>
          <p class='project-slide-section-description'>{{this.category}}</p>
          <a class='btn btn-special' href='{{this.link}}'>Visit</a>
          <br/>
        </section>
      </li>
    {{/each}}
  </ul>
  <p id='project-carousel-tip'>
    <i class='icon ion-information-circled'></i> 
    <span class='mobile-only'>Swipe to switch slides</span> 
    <span class='desktop-only'>Scroll or press the arrow keys to switch slides</span>
  </p>
  <ul class='project-carousel-nav'>
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon js-projects-prev-btn'>          
        <i class='icon ion-ios-arrow-up mobile-unfriendly'></i>
        <i class='icon ion-ios-arrow-left phone-friendly'></i>
      </button>
    </li>
    {{#each projects}}
      <li class='project-carousel-nav-list {{#if this.bool}}current{{/if}}'>
        <button class='project-carousel-btn'>          
          {{@index}}
        </button>
        <span class='project-carousel-thumbnail {{this.name}}'></span>
      </li>
    {{/each}}
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon js-projects-next-btn'>          
        <i class='icon ion-ios-arrow-down mobile-unfriendly'></i>
        <i class='icon ion-ios-arrow-right phone-friendly'></i>
      </button>
    </li>
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon project-carousel-resume js-projects-resume-btn'>
        <i class='icon ion-play'></i>
      </button>
    </li>
  </ul>
</main>
