<main class='container-fullpage' id='{{viewId}}'>
  <ul class='project-carousel'>
    {{#each project}}
    {{#if this.bool}}
    <li class='project-slide visible' id='{{this.name}}' aria-hidden='false'>
    {{else}}
    <li class='project-slide' id='{{this.name}}' aria-hidden='true'>
    {{/if}}
      <section class='project-slide-section'>
        <h2 class='project-slide-section-title'>{{this.title}}</h2>
        <p class='project-slide-section-description'>{{this.category}}</p>
        <a class='btn btn-special' href='{{this.link}}'>Visit</a>
        <br/>
      </section>
    </li>
    {{/each}}
  </ul>
  <p id='project-carousel-tip'>
    <i class='icon ion-information-circled'></i> 
    <span class='mobile-only'>Switch slides by swiping.</span> 
    <span class='desktop-only'>Switch slides by scrolling or pressing the arrow keys.</span>
  </p>
  <ul class='project-carousel-nav'>
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon js-projects-prev-btn'>          
        <i class='icon ion-ios-arrow-up'></i>
      </button>
    </li>
    {{#each project}}
      {{#if this.bool}}
        <li class='project-carousel-nav-list current'>
      {{else}}
        <li class='project-carousel-nav-list'>
      {{/if}}
        <button class='project-carousel-btn'>          
          {{@index}}
        </button>
      </li>
    {{/each}}
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon js-projects-next-btn'>          
        <i class='icon ion-ios-arrow-down'></i>
      </button>
    </li>
    <li class='project-carousel-nav-list'>
      <button class='project-carousel-icon project-carousel-resume js-projects-resume-btn'>
        <i class='icon ion-play'></i>
      </button>
    </li>
  </ul>
</main>
