<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='author' content='Erick Sauri'>
    <meta name='description' content='Erick Sauri creative developer portfolio site.'>
    {{! Mobile Stuff }}
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='msapplication-tap-highlight' content='no'>
    {{! Chrome on Android }}
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='Erick Sauri'>
    <link rel='icon' sizes='192x192' href='img/misc/logo.png'>
    {{! Safari on iOS }}
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='Erick Sauri'>
    <link rel='apple-touch-icon' href='img/misc/logo.png'>
    {{! Windows 8 }}
    <meta name='msapplication-TileImage' content='img/misc/logo.png'>
    <meta name='msapplication-TileColor' content='#1f1f1f'>
    <meta name='theme-color' content='#1f1f1f'>
    <link rel='shortcut icon' href='img/logo.png'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <header id='header' {{#if homePage}}class='hide-bg'{{/if}}>
      <nav class='nav-global'>
        <ul class='nav-item-list'>
          <li class='nav-item'>
            <a class='nav-item-link' href='/'>
              <img class='logo' src='./img/misc/logo.png' alt='Erick Sauri Logo Icon'>
              <span class='logo-description'>Erick Sauri</span>
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-item-link' id='js-project-panel-open-button'>Work</a>
          </li>
          <li class='nav-item'>
            <a class='nav-item-link' href='/about'>About</a>
          </li>
          {{!--<li class='nav-item'>
            <a class='nav-item-link' href='/about#contact'>Contact</a>
          </li>--}}
          <li class='nav-item'>
            <a class='nav-item-link' href='./media/ErickSauriResume.pdf' target='_blank'>Resume</a>
          </li>
          {{#unless homePage}}
          <li class='nav-item'>
            <a class='nav-item-link phone-friendly js-scroll-to-top'>Top</a>
          </li>
          {{/unless}}
        </ul>
      </nav>
    </header>
    <section id='js-project-panel' class='project-panel'>
      <button id='js-project-panel-close-button' class='project-panel-close-button icon ion-close-round'></button>
      <ul class='project-panel-list'>
        {{#each projects}}
        <li class='project-panel-item'>
          <a href='{{this.link}}' class='project-panel-wrapper'>
            <section class='project-panel-item-image {{this.name}}'></section>
            <section class='project-panel-item-blurb'>
              <h2 class='project-panel-item-title'>{{this.title}}</h2>
              <p class='project-panel-item-description'>{{this.category}}</p>
            </section>
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{{body}}}
    {{#unless homePage}}
    <button class='icon ion-arrow-up-c floating-action-btn mobile-unfriendly js-scroll-to-top'></button>
    <footer class='footer'>
      <ul class='social-links'>
        <li>
          <a class='icon ion-email' href='mailto:ejs3863@g.rit.edu' target='_blank'></a>
        </li>
        <li>
          <a class='icon ion-social-github' href='https://github.com/esauri' target='_blank'></a>
        </li>
        <li>
          <a class='icon ion-social-linkedin' href='https://www.linkedin.com/in/erick-sauri-1847357b' target='_blank'></a>
        </li>
      </ul>
      <p class='copyright'>&copy; 2017 Erick Sauri</p>
    </footer>
    {{/unless}}
    <script src='/js/build/bundle.min.js'></script>
    <script src='/js/build/zooming.min.js'></script>
  </body>
</html>
